body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.text-container {
    margin-bottom: 20px;
}

.buttons button {
    margin: 5px;
}

.info {
    margin-top: 20px;
}
